.App {
  text-align: left;
}

.App-header {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  color: red;
  border-bottom: 2px solid red;
}

.App-header img {
  height: 120px;
}

.App-body {
  padding: 20px;
  border-bottom: 2px solid red;
}

.App-body label,
.App-body button {
  margin: 10px;
}

.App-footer {
  text-align: center;
  font-style: italic;
  padding: 10px;
  background-color: #fff;
  color: #000;
}