.App {
  text-align: left;
}

.App-header {
  background-color: #fff;
  padding: 20px;
  color: red;
}

.App-header img {
  height: 80px;
}

.App-body {
  padding: 20px;
}

.App-footer {
  padding: 20px;
  background-color: #fff;
  color: #000;
}